<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span class="nav-label">Danh mục xếp lịch xe</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucChiPhi","DanhMucXepLichXe")"> Loại chi phí</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span class="nav-label">Danh mục địa chỉ</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucLoaiDiaChi","DanhMucDiaChi")"> Loại địa chỉ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucDuong","DanhMucDiaChi")"> Đường</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucPhuongXa","DanhMucDiaChi")"> Phường, Xã</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucQuanHuyen","DanhMucDiaChi")"> Quận, Huyện</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucTinhThanh","DanhMucDiaChi")"> Tỉnh, Thành</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucQuocGia","DanhMucDiaChi")"> Quốc gia</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">Danh mục xe</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucLoaiXe", "DanhMucXe")">Loại xe</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucNoiSuaChuaXe","DanhMucXe")">Nơi sửa chữa xe</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhMucThietBiLinhKien","DanhMucXe")">Thiết bị linh kiện</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "QuanLySapLichBanVe")"><i class="fa fa-home"></i><span class="nav-label">Quản lý sắp lịch-Bán vé</span></a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span class="nav-label">Quản lý xe</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("BaoTriSuaChuaXe", "QuanLyXe")">Bảo trì sửa chữa xe</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-sitemap"></i>
                    <span class="nav-label">Quản lý nhân viên</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucLoaiHopDong", "QuanLyNhanVien")">Loại hợp đồng</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucLoaiTroCap", "QuanLyNhanVien")">Loại trợ cấp</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucPhongBan", "QuanLyNhanVien")">Phòng ban</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="@Url.Action("DanhMucViTri", "QuanLyNhanVien")">Vị trí-Cấp bậc</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "QuanLyHeThong")"><i class="fa fa-home"></i><span class="nav-label">Quản lý hệ thống</span></a>
            </li>
            <li>
                <a href="@Url.Action("Advanced", "Forms")"><i class="fa fa-home"></i><span class="nav-label">Advanced</span></a>
            </li>
            <li>
                <a href="@Url.Action("DataTables", "Tables")"><i class="fa fa-home"></i><span class="nav-label">Data Tables</span></a>
            </li>
        </ul>
    </div>
</nav>