@using Divuvina.Models.QuanLyXe
@using Divuvina.Public
@model ThongTinXeVaKhauHaoModel
@*@{
    ViewBag.Title = "NhapThongTinXe";
}*@

<div class="row border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>Thông tin xe</h2>
    </div>
</div>
@*<div class="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Quản lý xe</a>
        </li>
        <li>
            <a href="#">Thông tin xe</a>
        </li>
    </ul>
</div>*@

<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
        <div class="col-sm-12">
        </div>
    </div>*@
    <div class="row">
        <div class="col-sm-12">
            <form id="formThongTinXe" action="#" class="wizard-big form-horizontal m-t-md" role="form" autocomplete="off" data-toggle="validator" accept-charset="utf-8">
                <div class="col-sm-12" id="smartwizard">
                    <ul class="step-anchor-small">
                        <li><a href="#step-1">Bước 1<br /><small>Thông tin xe</small></a></li>
                        <li><a href="#step-2">Bước 2<br /><small>Thông tin chi phí mua xe và khấu hao</small></a></li>
                    </ul>
                    <div>
                        <div id="step-1" class="">
                            <div id="form-step-0" role="form" data-toggle="validator">
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpKeyHangSanXuatXe">
                                    <label class="col-sm-2 control-label no-padding-right">Hãng sản xuất xe(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" id="KeyHangSanXuatXe" name="KeyHangSanXuatXe" />
                                        <select class="chosen-select" style="width:100%;" id="HangSanXuatXeKey" name="HangSanXuatXeKey" required data-error-msg="Vui lòng chọn một hãng sản xuất." autofocus></select>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpLoaiXeKey">
                                    <label class="col-sm-2 control-label no-padding-right">Loại xe(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" id="KeyLoaiXe" name="KeyLoaiXe" />
                                        <select class="chosen-select" style="width:100%;" id="LoaiXeKey" name="LoaiXeKey" required></select>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpBangSoXe">
                                    <label class="col-sm-2 control-label no-padding-right">Bảng số xe(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="BangSoXe" name="BangSoXe" value="@Model.BangSoXe" class="form-control" placeholder="Nhập bảng số xe" required>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpSoSan">
                                    <label class="col-sm-2 control-label no-padding-right">Số sàn(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="SoSan" name="SoSan" value="@Model.SoSan" class="form-control" placeholder="Nhập số sàn" required>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpMau">
                                    <label class="col-sm-2 control-label no-padding-right">Màu:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="Mau" name="Mau" value="@Model.Mau" class="form-control" placeholder="Nhập màu xe">
                                        <span />
                                    </div>
                                </div>
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpNgayCapPhep">
                                    <label class="col-sm-2 control-label no-padding-right">Ngày cấp giấy xe(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" id="NgayCapPhep" name="NgayCapPhep" value="@Model.NgayCapPhep.ToString("dd/MM/yyyy")" class="form-control" required>
                                            <div class="help-block with-errors"></div>
                                            <span />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpCheckboxOptions">
                                    <label class="col-sm-2 control-label no-padding-right"></label>
                                    <div class="col-sm-3">
                                        <div class="checkbox checkbox-primary checkbox-inline">
                                            <input type="checkbox" id="CoWifi" name="CoWifi" class="form-control">
                                            <label for="CoWifi"><b>Có Wifi</b></label>
                                            <input type="hidden" id="hdCoWifi" name="hdCoWifi" value="@Model.CoWifi" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox checkbox-success checkbox-inline">
                                            <input type="checkbox" id="CoTivi" name="CoTivi" class="form-control">
                                            <label for="CoTivi"><b>Có Tivi</b></label>
                                            <input type="hidden" id="hdCoTivi" name="hdCoTivi" value="@Model.CoTivi" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox checkbox-info checkbox-inline">
                                            <input type="checkbox" id="CoCameraHanhTrinh" name="CoCameraHanhTrinh" class="form-control">
                                            <label for="CoCameraHanhTrinh"><b>Có camera hành trình</b></label>
                                            <span />
                                            <input type="hidden" id="hdCoCameraHanhTrinh" name="hdCoCameraHanhTrinh" value="@Model.CoCameraHanhTrinh" />
                                        </div>
                                    </div>
                                    <label class="col-sm-1 control-label"></label>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpGhiChuThongTinXe">
                                    <label class="col-sm-2 control-label no-padding-right">Ghi chú thông tin xe:</label>
                                    <div class="col-sm-10">
                                        <textarea rows="3" id="GhiChuThongTinXe" name="GhiChuThongTinXe" value="@Model.GhiChuThongTinXe" class="form-control" placeholder="Nhập ghi chú về xe"></textarea>
                                        <span />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="step-2" class="">
                            <div id="form-step-1" role="form" data-toggle="validator">
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpGiaMua">
                                    <label class="col-sm-2 control-label no-padding-right">Giá mua(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input id="GiaMua" name="GiaMua" value="@Model.GiaMua" type="text" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpTongTienKhauHao">
                                    <label class="col-sm-2 control-label no-padding-right">Tổng tiền khấu hao(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input id="TongTienKhauHao" name="TongTienKhauHao" value="@Model.TongTienKhauHao" type="text" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpSoThangKhauHao">
                                    <label class="col-sm-2 control-label no-padding-right">Số tháng khấu hao(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input class="touchspin3" id="SoThangKhauHao" name="SoThangKhauHao" value="@Model.SoThangKhauHao" type="text" required>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpTienKhauHaoHangThang">
                                    <label class="col-sm-2 control-label no-padding-right">Tiền khấu hao hàng tháng(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <input id="TienKhauHaoHangThang" name="TienKhauHaoHangThang" value="@Model.TienKhauHaoHangThang" type="text" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                        <span />
                                    </div>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpNgayBatDauKhauHao">
                                    <label class="col-sm-2 control-label no-padding-right">Ngày B.đầu khấu hao(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" id="NgayBatDauKhauHao" name="NgayBatDauKhauHao" value="@DefaultValueWhenNull.ConvertDatetime(Model.NgayBatDauKhauHao).ToString("dd-MM-yyyy")" class="form-control" required>
                                            <div class="help-block with-errors"></div>
                                            <span />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group border-bottom-dot-line" id="divFrmGrpNgayKetThucKhauHao">
                                    <label class="col-sm-2 control-label no-padding-right">Ngày K.thúc khấu hao(<span class="required">*</span>):</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" id="NgayKetThucKhauHao" name="NgayKetThucKhauHao" value="@DefaultValueWhenNull.ConvertDatetime(Model.NgayKetThucKhauHao).ToString("dd-MM-yyyy")" class="form-control" required>
                                            <div class="help-block with-errors"></div>
                                            <span />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group border-bottom-dot-line" id="divFrmGrpGhiChuKhauHaoXe">
                                    <label class="col-sm-2 control-label">Ghi chú khấu hao:</label>
                                    <div class="col-sm-10">
                                        <textarea rows="3" id="GhiChuKhauHaoXe" name="GhiChuKhauHaoXe" value="@Model.GhiChuKhauHaoXe" class="form-control" placeholder="Nhập ghi chú về khấu hao xe"></textarea>
                                        <span />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <input type="hidden" id="XeKey" name="XeKey" value="@Model.XeKey" />
            </form>
        </div>
    </div>

    @*<div class="row">
        <div class="col-sm-12">
            <span/>
        </div>
    </div>*@

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Danh sách xe</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="tableThongTinXe" class="table table-striped table-bordered table-hover">
                            <thead>
                                @*<tr>
                                    <th rowspan="2" style="text-align:center"></th>
                                    <th colspan="7" style="text-align:center; background-color:#b4f2ff !important">Thông tin xe</th>
                                    <th colspan="10" style="text-align:center; background-color:#9afcff !important">Thông tin khấu hao</th>
                                    <th colspan="2" style="text-align:center; background-color:#b4f2ff !important">Thao tác</th>
                                </tr>*@
                                <tr>
                                    <th></th>
                                    <th width="30px"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Bảng số xe</th>
                                    <th>Số sàn</th>
                                    <th>Loại xe</th>
                                    <th>Hãng sản xuất</th>
                                    <th>Ngày cấp phép</th>
                                    <th>Màu</th>
                                    <th>Tổng giá</th>
                                    @*<th>Tổng tiền khấu hao</th>
                                    <th>Số tháng khấu hao</th>
                                    <th>Tiền khấu hao hàng tháng</th>
                                    <th>Ngày bắt đầu khấu hao</th>
                                    <th>Ngày kết thúc khấu hao</th>*@
                                    <th>Wifi</th>
                                    <th>Tivi</th>
                                    <th>Camera</th>
                                    <th>Ghi chú xe</th>
                                    @*<th>Ghi chú khấu hao</th>*@
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    td.details-control {
    background: url('/Images/icons/add.png') no-repeat center center;
    background-size: 18px 18px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/Images/icons/minus.png') no-repeat center center;
    background-size: 18px 18px;
}
</style>
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    
    <!--Render script for dataTable-->
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/fullcalendar")

    @*@Scripts.Render("~/plugins/wizardSteps")*@
    @Scripts.Render("~/plugins/SmartWizard-master")

    <!--Render script for Page-->
    @Scripts.Render("~/Scripts/QuanLyXe/ThongTinXe.js")
    <!-- Include jQuery Validator plugin -->
    <script type="text/javascript">
        $(document).ready(function () {

            //alert(addCommas("1234567.89"));
            //alert(convertStringWithCommasToNumber("1,234,567.89"));
            //alert(convertDateToString(new Date().getDate()));
            

        })//EndFunction-DocumentReady

    </script>

}


