@using Divuvina.Models.QuanLyXe
@using Divuvina.Public
@model ThongTinXeVaKhauHaoModel
@*@{
    ViewBag.Title = "NhapThongTinXe";
}*@

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Thông tin xe</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
        <div class="col-lg-12">
        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ibox-full">
                <div class="ibox-title">
                    <h5>Thông tin xe và khấu hao</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                        @*<a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>*@
                    </div>
                </div>

                <div class="ibox-content  ibox-full">
                    <form id="formThongTinXe" action="#" class="wizard-big form-horizontal m-t-md" role="form" autocomplete="off" data-toggle="validator" accept-charset="utf-8">
                        <div class="col-lg-12" id="smartwizard">
                            <ul class="step-anchor-small">
                                <li><a href="#step-1">Bước 1<br /><small>Thông tin xe</small></a></li>
                                <li><a href="#step-2">Bước 2<br /><small>Thông tin chi phí mua xe và khấu hao</small></a></li>
                            </ul>
                            <div>
                                <div id="step-1" class="">
                                    <div id="form-step-0" role="form" data-toggle="validator">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Hãng sản xuất xe:</label>
                                            <div class="col-lg-4">
                                                <input type="hidden" id="KeyHangSanXuatXe" name="KeyHangSanXuatXe" />
                                                <select class="form-control" id="HangSanXuatXeKey" name="HangSanXuatXeKey"></select>
                                                <span />
                                            </div>
                                            <label class="col-lg-2 control-label">Loại xe:</label>
                                            <div class="col-lg-4">
                                                <input type="hidden" id="KeyLoaiXe" name="KeyLoaiXe" />
                                                <select class="form-control" id="LoaiXeKey" name="LoaiXeKey"></select>
                                                <span />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Bảng số xe*:</label>
                                            <div class="col-lg-4">
                                                <input type="text" id="BangSoXe" name="BangSoXe" value="@Model.BangSoXe" class="form-control" required="required" placeholder="Nhập bảng số xe">
                                                <span />
                                            </div>
                                            <label class="col-lg-2 control-label">Số sàn*:</label>
                                            <div class="col-lg-4">
                                                <input type="text" id="SoSan" name="SoSan" value="@Model.SoSan" class="form-control" required="required" placeholder="Nhập số sàn">
                                                <span />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group" id="divNgayCapPhep">
                                            <label class="col-lg-2 control-label">Màu:</label>
                                            <div class="col-lg-4">
                                                <input type="text" id="Mau" name="Mau" value="@Model.Mau" class="form-control" placeholder="Nhập màu xe">
                                                <span />
                                            </div>
                                            <label class="col-lg-2 control-label">Ngày cấp phép:</label>
                                            <div class="col-lg-4">
                                                <div class="input-group date">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input type="text" id="NgayCapPhep" name="NgayCapPhep" value="@Model.NgayCapPhep.ToString("dd-MM-yyyy")" class="form-control">
                                                    <span />
                                                </div>
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label"></label>
                                            <div class="col-lg-3">
                                                <div class="checkbox checkbox-primary checkbox-inline">
                                                    <input type="checkbox" id="CoWifi" name="CoWifi" class="form-control">
                                                    <label for="CoWifi"><b>Có Wifi</b></label>
                                                    <input type="hidden" id="hdCoWifi" name="hdCoWifi" value="@Model.CoWifi" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="checkbox checkbox-success checkbox-inline">
                                                    <input type="checkbox" id="CoTivi" name="CoTivi" class="form-control">
                                                    <label for="CoTivi"><b>Có Tivi</b></label>
                                                    <input type="hidden" id="hdCoTivi" name="hdCoTivi" value="@Model.CoTivi" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="checkbox checkbox-info checkbox-inline">
                                                    <input type="checkbox" id="CoCameraHanhTrinh" name="CoCameraHanhTrinh" class="form-control">
                                                    <label for="CoCameraHanhTrinh"><b>Có camera hành trình</b></label>
                                                    <span />
                                                    <input type="hidden" id="hdCoCameraHanhTrinh" name="hdCoCameraHanhTrinh" value="@Model.CoCameraHanhTrinh" />
                                                </div>
                                            </div>
                                            <label class="col-lg-1 control-label"></label>
                                            <div class="help-block with-errors"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Ghi chú thông tin xe:</label>
                                            <div class="col-lg-10">
                                                <input type="text" id="GhiChuThongTinXe" name="GhiChuThongTinXe" value="@Model.GhiChuThongTinXe" class="form-control" placeholder="Nhập thông tin ghi chú về xe">
                                                <span />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>

                                <div id="step-2" class="">
                                    <div id="form-step-1" role="form" data-toggle="validator">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Giá mua*:</label>
                                            <div class="col-lg-4">
                                                <input class="touchspin3" id="GiaMua" name="GiaMua" value="@Model.GiaMua" type="text" required="required">
                                                <span />
                                            </div>

                                            <label class="col-lg-2 control-label">Tổng tiền khấu hao*:</label>
                                            <div class="col-lg-4">
                                                <input class="touchspin3" id="TongTienKhauHao" name="TongTienKhauHao" value="@Model.TongTienKhauHao" type="text" required="required">
                                                <span />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Số tháng khấu hao*:</label>
                                            <div class="col-lg-4">
                                                <input class="touchspin3" id="SoThangKhauHao" name="SoThangKhauHao" value="@Model.SoThangKhauHao" type="text" required="required">
                                                <span />
                                            </div>

                                            <label class="col-lg-2 control-label">Tiền khấu hao hàng tháng*:</label>
                                            <div class="col-lg-4">
                                                <input class="touchspin3" id="TienKhauHaoHangThang" name="TienKhauHaoHangThang" value="@Model.TienKhauHaoHangThang" type="text" required="required">
                                                <span />
                                            </div>
                                        </div>

                                        <div class="form-group" id="divNgayKhauHao">
                                            <label class="col-lg-2 control-label">Ngày bắt đầu khấu hao:</label>
                                            <div class="col-lg-4">
                                                <div class="input-group date">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input type="text" id="NgayBatDauKhauHao" name="NgayBatDauKhauHao" value="@DefaultValueWhenNull.ConvertDatetime(Model.NgayBatDauKhauHao).ToString("dd-MM-yyyy")" class="form-control">
                                                    <span />
                                                </div>
                                            </div>

                                            <label class="col-lg-2 control-label">Ngày kết thúc khấu hao:</label>
                                            <div class="col-lg-4">
                                                <div class="input-group date">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input type="text" id="NgayKetThucKhauHao" name="NgayKetThucKhauHao" value="@DefaultValueWhenNull.ConvertDatetime(Model.NgayKetThucKhauHao).ToString("dd-MM-yyyy")" class="form-control">
                                                    <span />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Ghi chú khấu hao:</label>
                                            <div class="col-lg-10">
                                                <input type="text" id="GhiChuKhauHaoXe" name="GhiChuKhauHaoXe" value="@Model.GhiChuKhauHaoXe" class="form-control" placeholder="Nhập thông tin ghi chú khấu hao xe">
                                                <span />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <input type="hidden" id="XeKey" name="XeKey" value="@Model.XeKey" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Danh sách xe</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                        @*<a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>*@
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="tableThongTinXe" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="50" align="center" valign="middle">Thứ tự</th>
                                    <th width="50">Sửa</th>
                                    <th width="50">Xóa</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Bảng số xe</th>
                                    <th>Số sàn</th>
                                    <th>Loại xe</th>
                                    <th>Hãng sản xuất</th>
                                    <th>Ngày cấp phép</th>
                                    <th>Màu</th>
                                    <th>Tổng giá</th>
                                    <th>Tổng tiền khấu hao</th>
                                    <th>Số tháng khấu hao</th>
                                    <th>Tiền khấu hao hàng tháng</th>
                                    <th>Ngày bắt đầu khấu hao</th>
                                    <th>Ngày kết thúc khấu hao</th>
                                    <th>Có Wifi</th>
                                    <th>Có Tivi</th>
                                    <th>Có Camera hành trình</th>
                                    <th>Ghi chú xe</th>
                                    <th>Ghi chú khấu hao</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .ibox-full{
        width: auto !important;
        /*margin: 0px 0px 0px 0px !important;*/
        padding: 0px 5px 0px 5px !important;
        height: auto;
        background: white !important;
    }
    /*.form-step{
        background-color: white !important;
    }*/
    .step-anchor-small{
        margin-top: 0px !important;
        background: white !important;
    }
</style>
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/fullcalendar")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/SmartWizard-master")

    @Scripts.Render("~/Scripts/Public/ShowMessage.js")
    @Scripts.Render("~/Scripts/Public/SettingControls.js")
    @Scripts.Render("~/Scripts/QuanLyXe/ThongTinXe.js")

    <script type="text/javascript">
        $(document).ready(function () {

            //===================================================
            var coWifi = true;
            if (String("@(Model.CoWifi)") == "False") { coWifi = false };
            var coTivi = true;
            if (String("@(Model.CoTivi)") == "False") { coTivi = false };
            var coCameraHanhTrinh = true;
            if (String("@(Model.CoCameraHanhTrinh)") == "False") { coCameraHanhTrinh = false };
            $('#CoWifi').attr("checked", coWifi);
            $('#CoTivi').attr("checked", coTivi);
            $('#CoCameraHanhTrinh').attr("checked", coCameraHanhTrinh);
            $('#hdCoWifi').val(coWifi);
            $('#hdCoTivi').val(coTivi);
            $('#hdCoCameraHanhTrinh').val(coCameraHanhTrinh);

            //===================================================
            $('#CoWifi').change(function () {
                if (this.checked) {
                    $(this).attr("checked", true);
                    $('#hdCoWifi').attr("value", true);
                }
                else {
                    $(this).attr("checked", false);
                    $('#hdCoWifi').attr("value", false);
                }
            });
            $('#CoTivi').change(function () {
                if (this.checked) {
                    $(this).attr("checked", true);
                    $('#hdCoTivi').attr("value", true);
                }
                else {
                    $(this).attr("checked", false);
                    $('#hdCoTivi').attr("value", false);
                }
            });
            $('#CoCameraHanhTrinh').change(function () {
                if (this.checked) {
                    $(this).attr("checked", true);
                    $('#hdCoCameraHanhTrinh').attr("value", true);
                }
                else {
                    $(this).attr("checked", false);
                    $('#hdCoCameraHanhTrinh').attr("value", false);
                }
            });
            //===================================================
            SettingDatepicker('divNgayCapPhep');
            SettingDatepicker('divNgayKhauHao');

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'glyphicon glyphicon-plus',
                verticaldownclass: 'glyphicon glyphicon-minus'
            });
            //===================================================
            $('#GiaMua').change(function () {
                $('#TongTienKhauHao').val($('#GiaMua').val());

                var soThangKhauHao = $('#SoThangKhauHao').val();
                var tongTienKhauHao = $('#TongTienKhauHao').val();
                if (soThangKhauHao > 0) {
                    $('#TienKhauHaoHangThang').val((tongTienKhauHao / soThangKhauHao).toFixed(2));
                }
            });
            //===================================================
            $('#SoThangKhauHao').change(function () {
                var soThangKhauHao = $('#SoThangKhauHao').val();
                var tongTienKhauHao = $('#TongTienKhauHao').val();
                if (soThangKhauHao > 0) {
                    $('#TienKhauHaoHangThang').val((tongTienKhauHao / soThangKhauHao).toFixed(2));
                    var ngayBatDauKhauHao = new Date($('#NgayBatDauKhauHao').val());
                    $('#NgayKetThucKhauHao').val((new Date(ngayBatDauKhauHao.setMonth(soThangKhauHao))).toString("DD-MM-YYYY"));
                }
            });
            //===================================================

            //    $("input[type='number']").({
            //        -moz-appearance: textfield;
            //});
            //    input[type="number"]:hover,
            //    input[type="number"]:focus {
            //        -moz-appearance: number-input;
            //    }
            //===================================================
            //===================================================
            //===================================================
            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0, //Specify the selected step on the first load.
                keyNavigation: true, //Enable or disable key navigation.
                autoAdjustHeight: false, //Automatically adjust content height.
                cycleSteps: false, //Allows to cycle the navigation of steps.
                backButtonSupport: true, //Enable the back button support.
                contentURL: null, //Content url, Enables Ajax content loading. can set as data data-content-url on anchor.
                disableSteps: [], //Array Steps disable.
                errorSteps: [0], //Highlight step with errors.
                theme: 'arrows',
                transitionEffect: 'slide', //none/slide/fade
                transitionSpeed: 400,
                toolbarSettings: {
                    toolbarPosition: 'bottom',//none/top/bottom/both
                    toolbarPosition: 'right', //left/right
                    showNextButton: true,
                    showPreviousButton: true,
                    toolbarExtraButtons: [
                            {
                                label: 'Lưu', css: 'btn-info disabled btn-finish', onClick: function () {
                                    //alert('Finish Clicked');
                                    if (!$(this).hasClass('disabled')) {

                                        //var elmForm = $("#formThongTinXe");
                                        //if (elmForm) {
                                        //    //elmForm.validator('validate');
                                        //    elmForm.validator();
                                        //    var elmErr = elmForm.find('.has-error');
                                        //    if (elmErr && elmErr.length > 0) {
                                        //        alert('Oops we still have error in the form');
                                        //        return false;
                                        //    } else {
                                        //        alert('Great! we are ready to submit form');
                                        //        elmForm.submit();
                                        //        return false;
                                        //    }
                                        //}

                                        //LuuThongTinXe();
                                        $('#KeyHangSanXuatXe').val($('#HangSanXuatXeKey').val());
                                        $('#KeyLoaiXe').val($('#LoaiXeKey').val());

                                        //Save
                                        //==================================
                                        $.ajax({
                                            type: "POST",
                                            datatype: "JSON",
                                            url: '@Url.Action("LuuThongTinXe", "QuanLyXe")',
                                            data: $('#formThongTinXe').serialize(),
                                            //----------------------------------
                                            success: function (response) {
                                                if (response != null) {
                                                    //XoaDuLieuForm();
                                                    $('#tableThongTinXe').DataTable().ajax.reload();
                                                    ShowMessage(response);
                                                }//End If
                                                else {
                                                    $('#output').text(msg);
                                                }
                                            },
                                            //----------------------------------
                                            //complete: function () {

                                            //},
                                            //----------------------------------
                                            failure: function (msg) {
                                                $('#output').text(msg);
                                            },
                                            //----------------------------------
                                            //error: function (jqXhr, exception) {
                                            //    ShowMessage(response);
                                            //    //if (jqXhr.status != 0) ShowMessage(response); //alert('Thực hiện không thành công');
                                            //}
                                        });//End ajax
                                    }
                                }
                            },
                            {
                                label: 'Tạo mới', css: 'btn-danger', onClick: function () {
                                    $('#XeKey').val('');
                                    $('#HangSanXuatXeKey').change();
                                    $('#LoaiXeKey').change();
                                    $('#KeyLoaiXe').val('');
                                    $('#BangSoXe').val('');
                                    $('#SoSan').val('');
                                    $('#Mau').val('');
                                    $('#NgayCapPhep').val(Date);
                                    $('#CoWifi').prop('checked', true);
                                    $('#CoTivi').prop('checked', true);
                                    $('#CoCameraHanhTrinh').prop('CoCameraHanhTrinh', true);
                                    $('#hdCoWifi').attr("value", true);
                                    $('#hdCoTivi').attr("value", true);
                                    $('#hdCoCameraHanhTrinh').attr("value", true);

                                    $('#GhiChuThongTinXe').val('');
                                    $('#GiaMua').val(0);
                                    $('#TongTienKhauHao').val(0);
                                    $('#SoThangKhauHao').val(12);
                                    $('#TienKhauHaoHangThang').val(0);
                                    $('#NgayBatDauKhauHao').val(Date);
                                    $('#NgayKetThucKhauHao').val(Date);
                                    $('#GhiChuKhauHaoXe').val('');
                                }
                            }
                    ]
                },//End-toolbarSettings
                //anchorSettings: {
                //    anchorClickable: false, //Enable or disable the click option on the step header anchors.
                //    enableAllAnchors: false, //Enable all anchors on load
                //    markDoneStepp: true, //Make already visited steps as done.
                //    enableAnchorOnDoneStep: true //Enable or disable the done steps navigation.
                //},//End-anchorSettings
                lang: {
                    next: 'Tiếp theo',
                    previous: 'Quay lại'
                }
            });


            //$("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
            //    var elmForm = $("#form-step-" + stepNumber);
            //    // stepDirection === 'forward' :- this condition allows to do the form validation
            //    // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
            //    if (stepDirection === 'forward' && elmForm) {
            //        elmForm.validator('validate');
            //        var elmErr = elmForm.children('.has-error');
            //        if (elmErr && elmErr.length > 0) {
            //            // Form validation failed
            //            return false;
            //        }
            //    }
            //    return true;
            //});

            //$("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection) {
            //    // Enable finish button only on last step
            //    if (stepNumber == 1) {
            //        $('.btn-finish').removeClass('disabled');
            //    } else {
            //        $('.btn-finish').addClass('disabled');
            //    }
            //});

        })//EndFunction-DocumentReady

    </script>

}


