@using Divuvina.Models.QuanLyXe
@using Divuvina.Public
@model ThongTinXeVaKhauHaoModel
@*@{
    ViewBag.Title = "NhapThongTinXe";
}*@



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Thông tin xe</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Thông tin xe và khấu hao</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    @*<h2>
                            Validation Wizard Form
                        </h2>
                        <p>
                            This example show how to use Steps with jQuery Validation plugin.
                        </p>*@
                    <form id="formThongTinXe" action="#" class="wizard-big form-horizontal m-t-md" role="form" autocomplete="off">
                        <h1>Thông tin xe</h1>
                        <fieldset>
                            @*<h2>Account Information</h2>*@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Hãng sản xuất xe:</label>
                                        <div class="col-lg-4">
                                            <input type="hidden" id="KeyHangSanXuatXe" name="KeyHangSanXuatXe" />
                                            <select class="form-control" id="HangSanXuatXeKey"></select>
                                            <span />
                                        </div>
                                        <label class="col-lg-2 control-label">Loại xe:</label>
                                        <div class="col-lg-4">
                                            <input type="hidden" id="KeyLoaiXe" name="KeyLoaiXe" />
                                            <select class="form-control" id="LoaiXeKey"></select>
                                            <span />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Bảng số xe*:</label>
                                        <div class="col-lg-4">
                                            <input type="text" id="BangSoXe" name="BangSoXe" value="@Model.BangSoXe" class="form-control required" placeholder="Nhập bảng số xe">
                                            <span />
                                        </div>
                                        <label class="col-lg-2 control-label">Số sàn*:</label>
                                        <div class="col-lg-4">
                                            <input type="text" id="SoSan" name="SoSan" value="@Model.SoSan" class="form-control required" placeholder="Nhập số sàn">
                                            <span />
                                        </div>
                                    </div>

                                    <div class="form-group" id="divNgayCapPhep">
                                        <label class="col-lg-2 control-label">Màu:</label>
                                        <div class="col-lg-4">
                                            <input type="text" id="Mau" name="Mau" value="@Model.Mau" class="form-control" placeholder="Nhập màu xe">
                                            <span />
                                        </div>
                                        <label class="col-lg-2 control-label">Ngày cấp phép:</label>
                                        <div class="col-lg-4">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" id="NgayCapPhep" name="NgayCapPhep" value="@Model.NgayCapPhep.ToString("dd-MM-yyyy")" class="form-control">
                                                <span />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label"></label>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-primary checkbox-inline">
                                                <input type="checkbox" id="CoWifi" name="CoWifi" class="form-control">
                                                <label for="CoWifi"><b>Có Wifi</b></label>
                                                <input type="hidden" id="hdCoWifi" name="hdCoWifi" value="@Model.CoWifi" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-success checkbox-inline">
                                                <input type="checkbox" id="CoTivi" name="CoTivi" class="form-control">
                                                <label for="CoTivi"><b>Có Tivi</b></label>
                                                <input type="hidden" id="hdCoTivi" name="hdCoTivi" value="@Model.CoTivi" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="checkbox checkbox-info checkbox-inline">
                                                <input type="checkbox" id="CoCameraHanhTrinh" name="CoCameraHanhTrinh" class="form-control">
                                                <label for="CoCameraHanhTrinh"><b>Có camera hành trình</b></label>
                                                <span />
                                                <input type="hidden" id="hdCoCameraHanhTrinh" name="hdCoCameraHanhTrinh" value="@Model.CoCameraHanhTrinh" />
                                            </div>
                                        </div>
                                        <label class="col-lg-1 control-label"></label>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Ghi chú thông tin xe:</label>
                                        <div class="col-lg-10">
                                            <input type="text" id="GhiChuThongTinXe" name="GhiChuThongTinXe" value="@Model.GhiChuThongTinXe" class="form-control" placeholder="Nhập thông tin ghi chú về xe">
                                            <span />
                                        </div>
                                    </div>

                                </div>
                                @*<div class="col-lg-4">
                                        <div class="text-center">
                                            <div style="margin-top: 20px">
                                                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </fieldset>
                        <h1>Thông tin chi phí mua xe và khấu hao</h1>
                        <fieldset>
                            @*<h2>Profile Information</h2>*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Giá mua*:</label>
                                        <div class="col-lg-4">
                                            <input class="touchspin3 required" id="GiaMua" name="GiaMua" value="@Model.GiaMua" type="text">
                                            <span />
                                        </div>

                                        <label class="col-lg-2 control-label">Tổng tiền khấu hao*:</label>
                                        <div class="col-lg-4">
                                            <input class="touchspin3 required" id="TongTienKhauHao" name="TongTienKhauHao" value="@Model.TongTienKhauHao" type="text">
                                            <span />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Số tháng khấu hao*:</label>
                                        <div class="col-lg-4">
                                            <input class="touchspin3 required" id="SoThangKhauHao" name="SoThangKhauHao" value="@Model.SoThangKhauHao" type="text">
                                            <span />
                                        </div>

                                        <label class="col-lg-2 control-label">Tiền khấu hao hàng tháng*:</label>
                                        <div class="col-lg-4">
                                            <input class="touchspin3 required" id="TienKhauHaoHangThang" name="TienKhauHaoHangThang" value="@Model.TienKhauHaoHangThang" type="text">
                                            <span />
                                        </div>
                                    </div>

                                    <div class="form-group" id="divNgayKhauHao">
                                        <label class="col-lg-2 control-label">Ngày bắt đầu khấu hao:</label>
                                        <div class="col-lg-4">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" id="NgayBatDauKhauHao" name="NgayBatDauKhauHao" value="@DefaultValueWhenNull.ConvertDatetime(Model.NgayBatDauKhauHao).ToString("dd-MM-yyyy")" class="form-control">
                                                <span />
                                            </div>
                                        </div>

                                        <label class="col-lg-2 control-label">Ngày kết thúc khấu hao:</label>
                                        <div class="col-lg-4">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" id="NgayKetThucKhauHao" name="NgayKetThucKhauHao" value="@DefaultValueWhenNull.ConvertDatetime(Model.NgayKetThucKhauHao).ToString("dd-MM-yyyy")" class="form-control">
                                                <span />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Ghi chú khấu hao:</label>
                                        <div class="col-lg-10">
                                            <input type="text" id="GhiChuKhauHaoXe" name="GhiChuKhauHaoXe" value="@Model.GhiChuKhauHaoXe" class="form-control" placeholder="Nhập thông tin ghi chú khấu hao xe">
                                            <span />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Email *</label>
                                            <input id="email" name="email" type="text" class="form-control required email">
                                        </div>
                                        <div class="form-group">
                                            <label>Address *</label>
                                            <input id="address" name="address" type="text" class="form-control">
                                        </div>
                                    </div>*@
                            </div>
                        </fieldset>
                        @*<h1>Warning</h1>
                            <fieldset>
                                <div class="text-center" style="margin-top: 120px">
                                    <h2>You did it Man :-)</h2>
                                </div>
                            </fieldset>
                            <h1>Finish</h1>
                            <fieldset>
                                <h2>Terms and Conditions</h2>
                                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                            </fieldset>*@
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Danh sách xe</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="tableThongTinXe" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="50" align="center" valign="middle">Thứ tự</th>
                                    <th width="50">Sửa</th>
                                    <th width="50">Xóa</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Bảng số xe</th>
                                    <th>Số sàn</th>
                                    <th>Loại xe</th>
                                    <th>Hãng sản xuất</th>
                                    <th>Ngày cấp phép</th>
                                    <th>Màu</th>
                                    <th>Tổng giá</th>
                                    <th>Tổng tiền khấu hao</th>
                                    <th>Số tháng khấu hao</th>
                                    <th>Tiền khấu hao hàng tháng</th>
                                    <th>Ngày bắt đầu khấu hao</th>
                                    <th>Ngày kết thúc khấu hao</th>
                                    <th>Có Wifi</th>
                                    <th>Có Tivi</th>
                                    <th>Có Camera hành trình</th>
                                    <th>Ghi chú xe</th>
                                    <th>Ghi chú khấu hao</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @*@Styles.Render("~/Content/animate.css")*@
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/fullcalendar")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")

    @Scripts.Render("~/Scripts/Public/ShowMessage.js")
    @Scripts.Render("~/Scripts/Public/SettingControls.js")
    @Scripts.Render("~/Scripts/QuanLyXe/ThongTinXe.js")

    <script type="text/javascript">
        $(document).ready(function () {

            //===================================================
            var coWifi = true;
            if (String("@(Model.CoWifi)") == "False") { coWifi = false };
            var coTivi = true;
            if (String("@(Model.CoTivi)") == "False") { coTivi = false };
            var coCameraHanhTrinh = true;
            if (String("@(Model.CoCameraHanhTrinh)") == "False") { coCameraHanhTrinh = false };
            $('#CoWifi').attr("checked", coWifi);
            $('#CoTivi').attr("checked", coTivi);
            $('#CoCameraHanhTrinh').attr("checked", coCameraHanhTrinh);
            $('#hdCoWifi').val(coWifi);
            $('#hdCoTivi').val(coTivi);
            $('#hdCoCameraHanhTrinh').val(coCameraHanhTrinh);

            //===================================================
            $('#CoWifi').change(function () {
                if (this.checked) {
                    $(this).attr("checked", true);
                    $('#hdCoWifi').attr("value", true);
                }
                else {
                    $(this).attr("checked", false);
                    $('#hdCoWifi').attr("value", false);
                }
            });
            $('#CoTivi').change(function () {
                if (this.checked) {
                    $(this).attr("checked", true);
                    $('#hdCoTivi').attr("value", true);
                }
                else {
                    $(this).attr("checked", false);
                    $('#hdCoTivi').attr("value", false);
                }
            });
            $('#CoCameraHanhTrinh').change(function () {
                if (this.checked) {
                    $(this).attr("checked", true);
                    $('#hdCoCameraHanhTrinh').attr("value", true);
                }
                else {
                    $(this).attr("checked", false);
                    $('#hdCoCameraHanhTrinh').attr("value", false);
                }
            });
            //===================================================
            SettingDatepicker('divNgayCapPhep');
            SettingDatepicker('divNgayKhauHao');

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                //verticalupclass: 'glyphicon glyphicon-plus',
                //verticaldownclass: 'glyphicon glyphicon-minus'
            });
            //===================================================
            $('#GiaMua').change(function () {
                $('#TongTienKhauHao').val($('#GiaMua').val());

                var soThangKhauHao = $('#SoThangKhauHao').val();
                var tongTienKhauHao = $('#TongTienKhauHao').val();
                if (soThangKhauHao > 0) {
                    $('#TienKhauHaoHangThang').val((tongTienKhauHao / soThangKhauHao).toFixed(2));
                }
            });
            //===================================================
            $('#SoThangKhauHao').change(function () {
                var soThangKhauHao = $('#SoThangKhauHao').val();
                var tongTienKhauHao = $('#TongTienKhauHao').val();
                if (soThangKhauHao > 0) {
                    $('#TienKhauHaoHangThang').val((tongTienKhauHao / soThangKhauHao).toFixed(2));
                    var ngayBatDauKhauHao = new Date($('#NgayBatDauKhauHao').val());
                    $('#NgayKetThucKhauHao').val((new Date(ngayBatDauKhauHao.setMonth(soThangKhauHao))).toString("DD-MM-YYYY"));
                }
            });
            //===================================================

            //    $("input[type='number']").({
            //        -moz-appearance: textfield;
            //});
            //    input[type="number"]:hover,
            //    input[type="number"]:focus {
            //        -moz-appearance: number-input;
            //    }
            //===================================================
            $('#HangSanXuatXeKey').change(function () {
                var id = $(this).val();
                //Load dữ liệu Danh mục loai xe
                if (id != null) {
                    var url = '@Url.Action("LayLoaiXeChoSelect", "QuanLyXe")';
                    //var url = '/QuanLyXe/LayLoaiXeChoSelect';
                    $.getJSON(url, { hangSanXuatXeKey: id }, function (data) {
                        $('#LoaiXeKey').empty();
                        $("#LoaiXeKey").select2({
                            data: data
                        , placeholder: "Chọn loại xe"
                        , allowClear: true
                        });
                        $("#LoaiXeKey").val(null).trigger("change");
                        $('#LoaiXeKey').val($('#KeyLoaiXe').val()).change();
                    });
                }
            });
            //===================================================
            $("#wizard").steps();
            $("#formThongTinXe").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    //if (newIndex === 3 && Number($("#age").val()) < 18) {
                    //    return false;
                    //}

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    //if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    //    $(this).steps("next");
                    //}

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    //if (currentIndex === 2 && priorIndex === 3) {
                    //    $(this).steps("Quay lại");
                    //}
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    //confirm: {
                    //    equalTo: "#password"
                    //}
                }
            });
            //===================================================
        })//EndFunction-DocumentReady

    </script>

}


