@using Divuvina.Models.QuanLyXe
@using Divuvina.Public
@model SapLichBaoTriXeModel

@{
//Layout = null;
}

<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sắp lịch bảo trì xe</h2>
    </div>
</div>

@*<div class="animated fadeInRight">*@
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="glyphicon glyphicon-search"></i> <b>Tìm kiếm xe để sắp lịch bảo trì</b></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>@*End-ibox-title*@
                <div class="ibox-content">
                    <form class="form-horizontal m-t-md" id="formTimXeSapLich" role="form" autocomplete="off">
                        <div class="form-group border-bottom-dot-line" id="divFrmGrpKeyHangSanXuatXe">
                            <label class="col-sm-2 control-label no-padding-right">Hãng sản xuất xe:</label>
                            <div class="col-sm-10">
                                <select class="chosen-select" style="width:100%;" id="HangSanXuatXeKey" name="ThongTinTimKiemSapLichBaoTri.HangSanXuatXeKey" data-error-msg="Vui lòng chọn hãng sản xuất xe." autofocus value="@(Model.ThongTinTimKiemSapLichBaoTri.HangSanXuatXeKey)"></select>
                                <div class="help-block with-errors"></div>
                                <span />
                            </div>
                        </div>
                        <div class="form-group border-bottom-dot-line" id="divFrmGrpLoaiXeKey">
                            <label class="col-sm-2 control-label no-padding-right">Loại xe:</label>
                            <div class="col-sm-10">
                                <select class="chosen-select" style="width:100%;" id="LoaiXeKey" name="ThongTinTimKiemSapLichBaoTri.LoaiXeKey" required data-error-msg="Vui lòng chọn loại xe." value="@(Model.ThongTinTimKiemSapLichBaoTri.LoaiXeKey)"></select>
                                <div class="help-block with-errors"></div>
                                <span />
                            </div>
                        </div>
                        <div class="form-group border-bottom-dot-line" id="divFrmGrpBangSoXe">
                            <label class="col-sm-2 control-label no-padding-right">Bảng số xe:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" id="BangSoXe" name="ThongTinTimKiemSapLichBaoTri.BangSoXe" class="form-control" placeholder="Nhập bảng số xe" value="@(Model.ThongTinTimKiemSapLichBaoTri.BangSoXe)">
                                    <span class="input-group-addon" style="background-color:darkturquoise"><i class="glyphicon glyphicon-menu-hamburger" style="color:white"></i></span>
                                </div>
                                @*<div class="input-icon input-icon-sm right">
                                        <input type="text" id="BangSoXe" name="ThongTinTimKiemSapLichBaoTri.BangSoXe" class="form-control" placeholder="Nhập bảng số xe" value="@(Model.ThongTinTimKiemSapLichBaoTri.BangSoXe)">
                                        <i class="glyphicon glyphicon-menu-hamburger" style="color:white"></i>
                                    </div>*@
                                <div class="help-block with-errors"></div>
                                <span />
                            </div>
                        </div>
                        <div class="form-group border-bottom-dot-line" id="divFrmGrpSoSan">
                            <label class="col-sm-2 control-label no-padding-right">Số sàn:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" id="SoSan" name="ThongTinTimKiemSapLichBaoTri.SoSan" class="form-control" placeholder="Nhập số sàn" value="@(Model.ThongTinTimKiemSapLichBaoTri.SoSan)">
                                    <span class="input-group-addon" style="background-color:darkturquoise"><i class="glyphicon glyphicon-menu-hamburger" style="color:white"></i></span>
                                </div>
                                <div class="help-block with-errors"></div>
                                <span />
                            </div>
                        </div>
                        <div class="form-group border-bottom-dot-line">
                            <label class="col-sm-2 control-label no-padding-right">Ngày cấp giấy xe:</label>
                            @*<div class="col-sm-2 checkbox checkbox-primary form-inline">
                                    <span>
                                        <b>Ngày cấp giấy xe xe </b>
                                        <input type="checkbox" id="ckTimTheoNgayCapPhep" name="ckTimTheoNgayCapPhep" class="form-control">
                                        <label for="ckNgayCapPhep"></label>
                                    </span>
                                    <input type="hidden" id="TimTheoNgayCapPhep" name="ThongTinTimKiemSapLichBaoTri.TimTheoNgayCapPhep" value="@(Model.ThongTinTimKiemSapLichBaoTri.TimTheoNgayCapPhep)" />
                                </div>
                                <div class="col-sm-10" id="divFrmGrpNgayCapPhep">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" data-mask="99/99/9999" id="NgayCapPhep" name="ThongTinTimKiemSapLichBaoTri.NgayCapPhep" class="form-control" value="@((Model.ThongTinTimKiemSapLichBaoTri.NgayCapPhep == null) ? "" : Convert.ToDateTime(Model.ThongTinTimKiemSapLichBaoTri.NgayCapPhep).ToString("dd/MM/yyyy"))">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>*@
                            <div class="col-sm-10">
                                <div class="input-group" style="width:100%">
                                    &nbsp;
                                    <span class="input-group-addon checkbox checkbox-primary" style="border:0">
                                        <input type="checkbox" id="ckTimTheoNgayCapPhep" name="ckTimTheoNgayCapPhep" class="form-control">
                                        <label for="ckNgayCapPhep"></label>
                                    </span>
                                    <div id="divFrmGrpNgayCapPhep">
                                        <div class="input-group date">
                                            <span class="input-group-addon success">
                                                <i class="fa fa-calendar" style="color:white"></i>
                                            </span>
                                            <input type="text" data-mask="99/99/9999" id="NgayCapPhep" name="ThongTinTimKiemSapLichBaoTri.NgayCapPhep" class="form-control" value="@((Model.ThongTinTimKiemSapLichBaoTri.NgayCapPhep == null) ? "" : Convert.ToDateTime(Model.ThongTinTimKiemSapLichBaoTri.NgayCapPhep).ToString("dd/MM/yyyy"))">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="TimTheoNgayCapPhep" name="ThongTinTimKiemSapLichBaoTri.TimTheoNgayCapPhep" value="@(Model.ThongTinTimKiemSapLichBaoTri.TimTheoNgayCapPhep)" />
                                <div class="help-block with-errors"></div>
                                <span />
                            </div>
                        </div>
                        <div class="form-group border-bottom-dot-line">
                            <div class="col-sm-2 col-md-offset-2">
                                <button type="button" class="btn btn-w-m btn-primary" id="btTimThongTinXe"><i class="glyphicon glyphicon-search" aria-hidden="true"></i> Tìm thông tin xe</button>
                                <span />
                            </div>
                        </div>

                        @*
                            <div class="form-group border-bottom-dot-line">
                            </div>
                        *@
                        @*<div class="form-group border-bottom-dot-line">
                                <label class="col-lg-2 control-label">Tìm thông tin xe:</label>
                                <div class="col-lg-10 input-group">
                                    <input type="text" class="form-control" id="TimThongTinXe" name="TimThongTinXe"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                            Tìm thông tin xe
                                        </button>
                                    </span>
                                </div>
                            </div>*@
                    </form>
                    <div class="form-group border-bottom-dot-line">
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table id="tableXeChuaSapLich" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Bảng số xe</th>
                                            <th>Số sàn</th>
                                            <th>Ngày cấp phép</th>
                                            <th>Màu</th>
                                            <th>Có Wifi</th>
                                            <th>Có Tivi</th>
                                            <th>Có Camera hành trình</th>
                                            <th>Ghi chú xe</th>
                                            <th>Loại xe</th>
                                            <th>Hãng sản xuất</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-w-m btn-success" id="btChuyenSapLich" onclick="onChuyenSapLichClick()"><i class="glyphicon glyphicon-forward" aria-hidden="true"></i></button>
                            <span />
                            <button type="button" class="btn btn-w-m btn-primary" id="btHuySapLich" onclick="onHuySapLichClick()"><i class="glyphicon glyphicon-backward" aria-hidden="true"></i></button>
                            <span />
                            <button type="button" class="btn btn-w-m btn-danger" id="btLuu" onclick="onLuuClick()"><i class="fa fa-floppy-o" aria-hidden="true"> Sắp lịch</i></button>
                            <span />
                        </div>
                        <div class="col-sm-5">
                            <div class="table-responsive">
                                <table id="tableXeChoSapLich" class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Bảng số xe</th>
                                            <th>Số sàn</th>
                                            <th>Ngày cấp phép</th>
                                            <th>Màu</th>
                                            <th>Có Wifi</th>
                                            <th>Có Tivi</th>
                                            <th>Có Camera hành trình</th>
                                            <th>Ghi chú xe</th>
                                            <th>Loại xe</th>
                                            <th>Hãng sản xuất</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>@*End-ibox-content*@
            </div>@*End-ibox*@
        </div>@*End-col-lg-12*@
    </div>@*End-row*@

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 style="color:blue;"><i class="glyphicon glyphicon-th-list"></i> <b>Danh sách xe đã sắp lịch</b></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>@*End-ibox-title*@
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="tableThongTinXe" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="50" align="center" valign="middle">Thứ tự</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Bảng số xe</th>
                                    <th>Số sàn</th>
                                    <th>Loại xe</th>
                                    <th>Hãng sản xuất</th>
                                    <th>Ngày cấp phép</th>
                                    <th>Màu</th>
                                    <th>Tổng giá</th>
                                    <th>Tổng tiền khấu hao</th>
                                    <th>Số tháng khấu hao</th>
                                    <th>Tiền khấu hao hàng tháng</th>
                                    <th>Ngày bắt đầu khấu hao</th>
                                    <th>Ngày kết thúc khấu hao</th>
                                    <th>Có Wifi</th>
                                    <th>Có Tivi</th>
                                    <th>Có Camera hành trình</th>
                                    <th>Ghi chú xe</th>
                                    <th>Ghi chú khấu hao</th>
                                    <th width="50">Sửa</th>
                                    <th width="50">Xóa</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>@*End-ibox-content*@
            </div>@*End-ibox*@
        </div>@*End-col-lg-12*@
    </div>@*End-row*@
    <input type="hidden" id="XeKey" name="XeKey" value="" />
</div>


@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/datePicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @*@Scripts.Render("~/plugins/imagecropper")
        @Scripts.Render("~/plugins/colorpicker")
        @Scripts.Render("~/plugins/clockpicker")*@
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/fullcalendar")
    @Scripts.Render("~/plugins/select2")

    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/SmartWizard-master")

    @Scripts.Render("~/Scripts/Public/ShowMessage.js")
    @Scripts.Render("~/Scripts/Public/SettingControls.js")

    <!--Render script for Page-->
    @Scripts.Render("~/Scripts/QuanLyXe/SapLichBaoTriXe.js")

}
