@{
    ViewBag.Title = "DanhMucLoaiXe";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Danh mục loại xe</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form class="form-horizontal m-t-md" id="formData" role="form">
        <input type="hidden" id="Key" />
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h3>Phần nhập liệu</h3></div>
                    <div class="ibox-content">
                        <div class="form-group" id="pIn">
                            <label class="col-sm-2 control-label">Hãng sản xuất:</label>
                            <div class="col-sm-4">
                                @*<input type="text" id="HangSanXuat" class="form-control" placeholder="Nhập hãng sản xuất xe">*@
                                <select class="form-control" id="HangSanXuatXeKey"></select>
                                <span />
                            </div>
                            <label class="col-sm-2 control-label">Tên loại xe:</label>
                            <div class="col-sm-4">
                                <input type="text" id="Ten" class="form-control" placeholder="Nhập tên loại xe">
                                <span />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mô tả:</label>
                            <div class="col-sm-4">
                                <input type="text" id="MoTa" class="form-control" placeholder="Nhập mô tả loại xe">
                                <span />
                            </div>
                            <label class="col-sm-2 control-label">Model:</label>
                            <div class="col-sm-4">
                                <input type="text" id="Model" class="form-control" placeholder="Nhập Model xe">
                                <span />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Máy chạy dầu:</label>
                            <div class="col-sm-4">
                                <div class="radio radio-info radioInline">
                                    <input type="radio" id="MayChayDau" value="MayChayDau" checked="" name="LoaiDongCo">
                                    <label for="MayChayDau"></label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label">Máy chạy xăng:</label>
                            <div class="col-sm-4">
                                <div class="radio radioInline">
                                    <input type="radio" id="MayChayXang" value="MayChayXang" name="LoaiDongCo">
                                    <label for="MayChayXang"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tổng số ghế:</label>
                            <div class="col-sm-4">
                                <input type="text" id="SoGhe" class="form-control" placeholder="Nhập tổng số ghế của xe">
                                <span />
                            </div>
                            <label class="col-sm-2 control-label">Loại ghế:</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="LoaiGheKey"></select>
                                <span />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ghi chú:</label>
                            <div class="col-sm-10">
                                <input type="text" id="GhiChu" class="form-control" placeholder="Nhập ghi chú">
                                <span />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-2">
                                <button type="button" class="btn btn-w-m btn-success" id="btNew" onclick="onNewClick()"><i class="fa fa-file" aria-hidden="true"></i> Tạo mới</button>
                                <span />
                            </div>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-w-m btn-success" id="btSave" onclick="onSaveClick()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                                <span />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h3>Phần hiển thị</h3></div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table id="dtSource" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="50">Thứ tự</th>
                                        <th></th>
                                        <th>Tên loại xe</th>
                                        <th>Mô tả</th>
                                        <th>Hãng sản xuất</th>
                                        <th>Model</th>
                                        <th>Máy chạy dầu</th>
                                        <th>Máy chạy xăng</th>
                                        <th>Số ghế</th>
                                        <th>Loại ghế</th>
                                        <th>Ghi chú</th>
                                        <th width="50">Sửa</th>
                                        <th width="50">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@*<style type="text/css">
        tr.selected {
            background-color: greenyellow !important;
        }
    </style>*@

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    @Styles.Render("~/plugins/toastrStyles")

    <link href="~/Content/Divuvina/DivuvinaTable.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">

        $(document).ready(function () {
            var table = $('#dtSource').DataTable({
                ajax: {
                    url: '@Url.Action("LayDanhMucLoaiXe", "DanhMucXe")'
                    , dataSrc: ''
                }
                //data: [{ "Key": 8, "Ten": "Tên hợp đồng 8 u123", "DienGiai": "Diễn giải 8 u1", "GhiChu": "Ghi chú 8 u1" }, { "Key": 9, "Ten": "Tên hợp đồng 9 u1", "DienGiai": "Diễn giải 9 u1", "GhiChu": "Ghi chú 9 u12" }, { "Key": 18, "Ten": "Tên hợp đồng 18", "DienGiai": "Diễn giải 18", "GhiChu": "Ghi chú 18" }, { "Key": 22, "Ten": "Tên hợp đồng 22", "DienGiai": "Diễn giải 22", "GhiChu": "Ghi chú 22" }, { "Key": 23, "Ten": "Tên hợp đồng 23", "DienGiai": "Diễn giải 23", "GhiChu": "Ghi chú 23" }, { "Key": 24, "Ten": "Tên hợp đồng 24", "DienGiai": "Diễn giải 24", "GhiChu": "Ghi chú 24" }, { "Key": 25, "Ten": "Tên hợp đồng 25", "DienGiai": "Diễn giải 25", "GhiChu": "Ghi chú 25" }, { "Key": 27, "Ten": "Tên hợp đồng 1", "DienGiai": "Diễn giải 1", "GhiChu": "Ghi chú 1" }, { "Key": 33, "Ten": "Tên hợp đồng 2", "DienGiai": "Diễn giải 2", "GhiChu": "Ghi chú 2" }, { "Key": 34, "Ten": "Tên hợp đồng 3", "DienGiai": "Diễn giải 3", "GhiChu": "Ghi chú 3" }, { "Key": 36, "Ten": "Tên hợp đồng 4", "DienGiai": "Diễn giải 4", "GhiChu": "Ghi chú 4" }]
                , columns: [
                    {
                        data: null,
                        searchable: false
                        , orderable: false
                        , targets: 0
                    },
                    { data: 'Key', visible: false },
                    { data: 'Ten' },
                    { data: 'MoTa' },
                    { data: 'HangSanXuatXe' },
                    { data: 'Model' },
                    { data: 'MayChayDau' },
                    { data: 'MayChayXang' },
                    { data: 'SoGhe' },
                    { data: 'LoaiGhe' },
                    { data: 'GhiChu' },
                    {
                        data: null,
                        defaultContent: '<a class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa</a>',
                        orderable: false
                    }
                    , {
                        data: null,
                        defaultContent: '<a class="delete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</a>',
                        orderable: false
                    }
                ]
                , order: [1, 'asc']
                , language: {
                    lengthMenu: 'Hiển thị _MENU_ dòng mỗi trang'
                    , info: 'Hiển thị dòng _START_ đến dòng _END_ trên tổng số _TOTAL_ dòng'
                    , infoEmpty: 'Hiển thị dòng _START_ đến dòng _END_ trên tổng số _TOTAL_ dòng'
                    , search: 'Tìm kiếm'
                    , paginate: {
                        first: "Trang đầu",
                        last: "Trang cuối",
                        next: "Sau",
                        previous: "Trước"
                    }
                }
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#dtSource tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#dtSource').on('click', 'a.edit', function (e) {
                var row = $('#dtSource').DataTable().data()[$('#dtSource').DataTable().row('.selected')[0][0]];
                $('#Key').val(row.Key);
                $('#Ten').val(row.Ten);
                $('#MoTa').val(row.MoTa);
                $('#HangSanXuatXeKey').val(row.HangSanXuatXeKey).change();
                $('#Model').val(row.Model);
                $('#MayChayDau').prop('checked', row.MayChayDau);
                $('#MayChayXang').prop('checked', row.MayChayXang);
                $('#SoGhe').val(row.SoGhe);
                $('#LoaiGheKey').val(row.LoaiGheKey).change();
                $('#GhiChu').val(row.GhiChu);
            });//EndFunction

            $('#dtSource').on('click', 'a.delete', function (e) {
                var row = $('#dtSource').DataTable().data()[$('#dtSource').DataTable().row('.selected')[0][0]];
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("XoaDanhMucLoaiXe", "DanhMucXe")',
                    data: "{ \"Key\" : \"" + row.Key + "\" }",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $('#dtSource').DataTable().ajax.reload();
                        onNewClick();

                        ShowMessage(response);
                    },
                    failure: function (msg) {
                        $('#output').text(msg);
                    }
                });
            });//EndFunction

            //Load dữ liệu Danh Mục Hãng Sản Xuất Xe
            $.ajax({
                type: "POST",
                url: '@Url.Action("LayHangSanXuatXeChoSelect", "DanhMucXe")',
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (response) {
                    $("#HangSanXuatXeKey").select2({
                        data: response
                        , placeholder: "Chọn hãng sản xuất xe"
                        , allowClear: true
                    });
                    $("#HangSanXuatXeKey").val(null).trigger("change");
                },
                failure: function (msg) {
                }
            });//EndLoadDataForHangSanXuatXeSelector

            //Load dữ liệu Danh Mục Loai Ghế
            $.ajax({
                type: "POST",
                url: '@Url.Action("LayDanhMucLoaiGhe", "DanhMucXe")',
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (response) {
                    $("#LoaiGheKey").select2({
                        data: response
                        , placeholder: "Chọn loại ghế"
                        , allowClear: true
                    });
                    $("#LoaiGheKey").val(null).trigger("change");
                },
                failure: function (msg) {
                }
            });//EndLoadDataForLoaiGheSelector

        });//EndFunction-DocumentReady

        function onNewClick() {
            $('#Key').val("-1");
            $('#Ten').val("");
            $('#MoTa').val("");
            $('#HangSanXuatXeKey').val("");
            $('#Model').val("");
            $('#MayChayDau').prop('checked', false);
            $('#MayChayXang').prop('checked',true);
            $('#SoGhe').val("");
            $('#LoaiGheKey').val("");
            $('#GhiChu').val("");
        }//EndFunction

        function onSaveClick() {
            if (($('#Key').val() == -1 || $('#Key').val() == "")
                && ($('#Ten').val() == "" || $('#MoTa').val() == "" ||
                $('#HangSanXuatXeKey').val() == "" || $('#Model').val() == "" ||
                 $('#SoGhe').val() == "" || $('#LoaiGheKey').val() == ""))
            {
                toastr.error("Vui lòng nhập đủ thông tin !", "Thông báo !");
                return;
            }

            if ($('#Key').val() == "")
                $('#Key').val(-1);

            $.ajax({
                type: "POST",
                url: '@Url.Action("LuuDanhMucLoaiXe", "DanhMucXe")',
                data: "{ \"Key\" : \"" + $('#Key').val()
                    + "\",\"ten\" : \"" + $('#Ten').val()
                    + "\",\"moTa\" : \"" + $('#MoTa').val()
                    + "\",\"hangSanXuatXeKey\" : \"" + $('#HangSanXuatXeKey').val()
                    + "\",\"model\" : \"" + $('#Model').val()
                    + "\",\"mayChayDau\" : \"" + document.getElementById('MayChayDau').checked
                    + "\",\"mayChayXang\" : \"" + document.getElementById('MayChayXang').checked
                    + "\",\"soGhe\" : \"" + $('#SoGhe').val()
                    + "\",\"loaiGheKey\" : \"" + $('#LoaiGheKey').val()
                    + "\",\"ghiChu\" : \"" + $('#GhiChu').val()
                    + "\" }",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (response) {
                    $('#dtSource').DataTable().ajax.reload();
                    onNewClick();
                    ShowMessage(response);
                },
                failure: function (msg) {
                    $('#output').text(msg);
                }
            });
        }//EndFunction

        function ShowMessage(response) {
            toastr.options = {
                closeButton: true
                , timeOut: 7000
            };
            if (response.Result == true)
                toastr.success(response.Message, response.Title);
            else
                toastr.error(response.Message, response.Title);
        }//EndFunction
    </script>

}

